<%= render 'show' %>
<div class="form-actions">
  <%= link_to t('actions.edit'), [:edit, @object], :class => 'btn primary' %>
  <%= link_to t('actions.new'), [:new, controller_name.singularize], :class => :btn %>
  <%= link_to t('actions.back'), [controller_name], :class => :btn %>
  <%= link_to t('actions.destroy'), @object, :class => 'btn btn-danger', :data => { :confirm => t('messages.sure') }, :method => :delete %>
</div>
