<tr id="<%= dom_id movimentation %>">
  <td>
    <% if movimentation.tag %>
      <span class="label label-info"><%= movimentation.tag %></span>
    <% end %>
    <%= link_to movimentation, movimentation %>
  </td>
  <td><%= currency movimentation.value_formatted %></td>
  <td><%= l movimentation.purchased_at %></td>
</tr>
