<ul class="pager">
  <li class="previous">
    <%= link_to '&larr; Newer'.html_safe, period_url(@period.next) %>
  </li>
  <li class="next">
    <%= link_to 'Older &rarr;'.html_safe, period_url(@period.previous) %>
  </li>
</ul>

<table class="table table-striped table-bordered">
  <tr>
    <th><%= t "simple_form.labels.purchase.tag" %></th>
    <th><%= t "simple_form.labels.purchase.name" %></th>
    <th><%= t "simple_form.labels.purchase.value" %></th>
    <th><%= t "simple_form.labels.purchase.purchased_at" %></th>
  </tr>

  <% @objects.each do |object| %>
    <tr id="<%= dom_id object %>">
      <td><%= object.tag_name %></td>
      <td><%= link_to object.title, object %></td>
      <td><%= object.value %></td>
      <td><%= object.purchased_at %></td>
    </tr>
  <% end %>
</table>
