<%= show_for @object do |tag| %>
  <%= tag.attribute :name %>
  <%= tag.attribute :purchases_sum do %>
    <%= currency @object.purchases_sum  %>
  <% end %>
  <%= tag.attribute :created_at %>
  <%= tag.attribute :updated_at %>
  <%= tag.attribute :purchases_count %>
  <%= tag.attribute :purchases do %>
    <table class="table table-striped table-bordered">
      <%= render 'purchases/header' %>
      <%= render @purchases %>
    </table>
    <%= paginate @purchases, :url => proc { |page| paginate_tag_path(@object.id, :page => page) } %>
  <% end %>
<% end %>
