<%= show_for @object do |tag| %>
  <%= tag.attribute :name %>
  <%= tag.attribute :moviments_sum do %>
    <%= currency @object.moviments_sum  %>
  <% end %>
  <%= tag.attribute :created_at %>
  <%= tag.attribute :updated_at %>
  <%= tag.attribute :created_by %>
  <%= tag.attribute :updated_by %>
  <%= tag.attribute :moviments_count %>
  <%= tag.attribute :moviments do %>
    <table class="table table-striped table-bordered">
      <%= render 'moviments/header' %>
      <%= render @moviments %>
    </table>
    <%= paginate @moviments, :url => proc { |page| paginate_tag_path(@object.id, :page => page) } %>
  <% end %>
<% end %>
