<%= show_for @object do |tag| %>
  <%= tag.attribute :name %>
  <%= tag.attribute :movimentations_sum do %>
    <%= currency @object.movimentations_sum  %>
  <% end %>
  <%= tag.attribute :created_at %>
  <%= tag.attribute :updated_at %>
  <%= tag.attribute :movimentations_count %>
  <%= tag.attribute :movimentations do %>
    <table class="table table-striped table-bordered">
      <%= render 'movimentations/header' %>
      <%= render @movimentations %>
    </table>
    <%= paginate @movimentations, :url => proc { |page| paginate_tag_path(@object.id, :page => page) } %>
  <% end %>
<% end %>
