<div class="row">
  <div class="span4 offset4">
    <div class="well">
      <legend>Login OrganizeApp</legend>

      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.input :email, :label => false, :placeholder => 'E-mail', :required => false, :autofocus => true, :input_html => { :class => :span3 } %>
        <%= f.input :password, :label => false, :placeholder => 'Senha', :required => false, :input_html => { :class => :span3 } %>
        <label class="checkbox">
          <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
        </label>
        <%= f.button :submit, 'Logar', :class => 'btn-info btn' %>
      <% end %>

      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
