<% if @period %>
  <h3><%= I18n.t("date.month_names")[@period.month.to_i] %>/<%= @period.year %></h3>

  <ul class="pager">
    <li class="previous">
      <%= link_to t('views.pagination.previous').html_safe, period_url(@period.next) %>
    </li>
    <li class="next">
      <%= link_to t('views.pagination.next').html_safe, period_url(@period.previous) %>
    </li>
  </ul>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <%= render 'header' %>
  </thead>

  <tbody>
    <%= render @objects %>
  </tbody>
</table>

<dl class="dl-horizontal">
  <dt>Despesas</dt>
  <dd><%= currency expenses_sum(@objects) %></dd>

  <dt>Receitas</dt>
  <dd><%= currency revenues_sum(@objects) %></dd>
</dl>
