<%= show_for @object do |transaction| %>
  <section class="fluidGridSystem">
    <div class="row-fluid show-grid">
      <div class="span4">
        <%= transaction.attribute :title %>
        <%= transaction.attribute :value do %>
          <%= number_to_currency @object.value  %>
        <% end %>
        <%= transaction.attribute :purchased_at %>
        <%= transaction.attribute :created_at %>
        <%= transaction.attribute :updated_at %>
      </div>

      <div class="span8">
        <%= simple_form_for @object.items.build, :html => { :class => 'form-horizontal' } do |f| %>
          <%= f.input :transaction_id, :as => :hidden %>
          <%= f.input :product, :autofocus => true %>
          <%= f.input :description %>
          <%= f.input :brand %>
          <%= f.input :unit %>
          <%= f.input :quantity %>
          <%= f.input :price %>
          <div class="form-actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <%= transaction.attribute :items do %>
    <table class="table table-striped table-bordered">
      <tr>
        <th><%= t "simple_form.labels.item.product" %></th>
        <th><%= t 'simple_form.labels.item.description' %></th>
        <th><%= t 'simple_form.labels.item.brand' %></th>
        <th><%= t 'simple_form.labels.item.unit' %></th>
        <th><%= t 'simple_form.labels.item.quantity' %></th>
        <th><%= t 'simple_form.labels.item.price' %></th>
        <th><%= t 'simple_form.labels.item.total' %></th>
        <th></th>
      </tr>

      <% @object.items.each do |item| %>
        <% if item.persisted? %>
          <tr id="<%= dom_id item %>">
            <td><%= item.product %></td>
            <td><%= item.description %></td>
            <td><%= item.brand %></td>
            <td><%= item.unit %></td>
            <td><%= item.quantity %></td>
            <td><%= item.price %></td>
            <td><%= item.total %></td>
            <td><%= link_to t('actions.destroy'), item, :class => 'btn btn-danger', :data => { :confirm => 'Sure?' }, :method => :delete %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>
